*, *::before, *::after {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 50px;
  width: 40px;
  height: 40px;
}

.nav {
  height: 100%;
}

.nav__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav__item {
  list-style: none;
  display: flex;
  margin-left: 20px;
  height: 100%;
  align-items: center;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
   position: relative;
   display: flex;
   align-items: center;
   height: 100%;
}

.nav__link:hover,
.nav__item[data-qa="hover"] {
  color: #00ACDC;
}

.nav__item[data-qa="hover"]::after {
  opacity: 0;
}

.is-active::after {
  content: '';
  position: absolute;
  background-color: #00ACDC;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.is-active:hover::after,
.nav__item[data-qa="hover"] .is-active::after {
  opacity: 1;
}
